#PORT
PORT=4000

#DATABASE
MONGODB_SERVER=localhost:27017/codebility

#JWT
JWT_KEY=secret
JWT_SECRET_KEY=secret
JWT_KEY_EXPIRES_AT=24h

#OPENWEATHER
OPENWEATHER_API_KEY=key
OPENWEATHER_API_URL='http://api.openweathermap.org/data/2.5/weather'
DIRECT_LOCATION_API_URL='http://api.openweathermap.org/geo/1.0/direct'